{{!< default}}

{{! The main content area on the homepage }}
<main class="page-wrap" role="main">

    <article class="{{post_class}}" data-scroll-reveal="enter bottom">
        <div>    
            <header class="post-header">
                <h2 class="post-title">
                    <a href="/"><span>Welcome</span></a>
                </h2>
            </header>
            <section class="post-excerpt">
                <p>Hi!</p>
            </section>
        </div>
    </article>


</main>