{{!< default}}

{{! The main content area on the homepage }}
<main class="page-wrap" role="main">

    <article class="{{post_class}}" data-scroll-reveal="enter bottom">
        <div>    
            <header class="post-header">
                <h2 class="post-title">
                    <a href="/"><span>Welcome</span></a>
                </h2>
            </header>
            <section class="post-excerpt">
                <p>You've hit the wedding information website for Jenny & Titi's July wedding. If you don't know who Jenny & Titi are, then you <i>might</i> just have come to the wrong site. If you do know who we are, then... hooray!</br></br>
                You can find all the information on this site regarding the wedding - including locations, accommodation and timings for the day. We have also added a link to the Gift list on here too.<br/><br/>
                If there is information you require that is not on the site, then please don't hesitate to drop us an email and we'll get back to you.</br></br>
                Love,</br>Jenny & Titi</p>
            </section>
        </div>
    </article>


</main>