<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Where?</h3>
			
				<p>
					Ceremony:
				</p>
				<p>
					Saint Augustine Roman Catholic Church, Baldock, SG7 6LQ.
				</p>
				<p>
					Reception:
				</p>
				<p>
					Baldock Community Centre, Simpson Drive, Baldock, SG7 6DH.
				</p>
    	</div>

		<div>
			<h3>Contact</h3>
			
			<!--<p>Perfetta Cafe 128-192 Robert St, London, W0F 3ZP</p>-->
			<p class="footer-email"><i class="icon-email"></i> <a href="mailto:contact@jennyandtiti.com" target="blank">contact@jennyandtiti.com</a></p>
		</div>
    </div>

    <div id="social-icons">
    <!--
	    <a class="icon-gplus" href="#">Google+</a>
	    <a class="icon-fb" href="#">Facebook</a>
	    <a class="icon-twitter" href="#">Twitter</a>
	    <a class="icon-pinterest" href="#">Pinterest</a>
	    <a class="icon-youtube" href="#">YouTube</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
		-->
		</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>