body > header h2.blog-desc {
	padding-left: 15px;
}

body > header ul {
	width: 100%;
	max-width: 710px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}

body > header ul li.first {
	list-style: none;	
}

body > header ul li {
	/*float:left;*/
	display: inline;
	color: #da6426;
	margin-right: 30px;
	font-weight: bold;
	list-style: none;
}	

#logo a { 
	color: #da6426; 
}

body.default-bg { 
	background-image: url('../images/bunting.jpg');
	/*background-size: cover; */
	/*background-size: contain;*/
}

body > footer .footer-email a:hover {
	color: white;
}